body {
    text-align: center;
}
ul {
margin-left:30px;
margin-right:30px;
}
h4 {
    margin-left:30px;
    margin-right:30px;
    } 
h2{
    background-color: slategray;
}
#asd{
    margin-top:50%;
}